@import './colors.scss';

.header,
.container,
.footer {
  margin: 0 auto;
  min-width: 500px;
  max-width: 1300px;
}

.header {
  height: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  min-height: 653px;
  max-height: calc(100vh - 145px);
}

.global__wrapper,
.map__wrapper,
.data__wrapper {
  border-radius: 4px;
  min-height: 643px;
}

.global__wrapper {
  width: 17%;
}

.data__wrapper {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map__wrapper {
  margin: 0 5px;
  flex-grow: 1;
  border-color: pink;
}


@media(max-width: 992px) {
  .header,
  .container,
  .footer {
    max-width: 600px;
  }

  .container {
    flex-direction: column;
    min-height: 1650px;
    max-height: auto;
  }

  .global__wrapper,
  .data__wrapper,
  .map__wrapper {
    width: 100%;
    min-height: auto;
  }


  .global__wrapper {
    margin-bottom: 10px;
  }

  .map__wrapper { 
    min-height: 400px;
    max-height: 400px;
  }
}
