@import './colors.scss';

.header,
.container,
.footer {
  margin: 0 auto;
  min-width: 500px;
  max-width: 1300px;
}

.header {
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  /*height: calc(100vh - 50px);*/
}


.global__wrapper,
.map__wrapper,
.data__wrapper {
  border-radius: 4px;
}

.global__wrapper {
  width: 17%;
}

.data__wrapper {
  width: 30%;
}

.map__wrapper {
  width: 52%;
}


@media(max-width: 700px) {
  .header,
  .container,
  .footer {
    max-width: 600px;
  }

  .container {
    flex-direction: column;
  }

  .global__wrapper,
  .data__wrapper,
  .map__wrapper {
    width: 100%
  }

  .global__wrapper {
    margin-bottom: 10px;
  }
}