@import '../common/colors.scss';

.graphBlock {
  width: 100%;
  display: flex;
  justify-content: center;

  &.fullScreen {
    padding-top: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    z-index: 1000;
  }
}

.canvasBlock {
  position: relative;
  width: 100%;

  &.full {
    width: 65%;
  }
}

.switchBlock {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    position: relative;

    &.fullScreen {
      z-index: 1500;
      bottom: 167%;
      right: 122%;
      font-size: 20px;
    }

    .switchButton {
        cursor: pointer;
    }

    .switchTitle {
      width: 55%;
      text-align: center;
    }
}

.switchButton {
  height: 20px;
  width: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  border: 10px solid transparent;

  &:active {
    transform: scale(0.8);
    transition: transform 0.2s linear
  }

  &.previous {
    border-left-width: 0;
    border-right-color: $black;

    &.fullScreen {
      border-right-color: #ffbebe;
    }
    
    &:hover {
      border-right-color: $grey;
      transition: border-right-color 0.3s linear;
    }
  }

  &.next {
    border-right-width: 0;
    border-left-color: $black;

    &.fullScreen {
      border-left-color: #ffbebe;
    }

    &:hover {
      border-left-color: $grey;
      transition: border-left-color 0.3s linear;
    }
  }
}
  
.open {
    position: absolute;
    top: -22px;
    right: 6px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 1100;
    font-size: 12px;
}

.open,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid white;
  border-radius: 4px;

  &:hover {
    border-color: $black;
    color: $black;
    background-color: white;
    transition: border-color 0.2s linear, color 0.2s linear, background-color 0.2s linear;
  }

  &:active {
    background-color: $black;
    color: white;
    transition: color 0.1s linear, background-color 0.1s linear;
  }
}

.fullSwitchBlock {
  display: flex;
  flex-wrap: wrap;
  width: 55%;

  .switchItem {
    margin-right: 10px;
  }
}

.chosen {
  background-color: rgba(255, 243, 243, 0.5);
}

@media(max-width: 700px) {
  .data.data__graph {
    min-height: 290px;
  }
}
