@import '../common/colors.scss';

.graphBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}
.graphBlock.fullScreen {
    padding-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 42, 42);
}

.canvasBlock {
    position: relative;
    width: 64%;
    height: 60%;
}
.canvasBlock.full {
    height:30vh; 
    width:70vw;
}
.switchBlock {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    position: relative;

    .switchButton {
        cursor: pointer;
    }
}

.switchButton {
  height: 20px;
  width: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  border: 10px solid transparent;

  &:active {
    transform: scale(0.8);
    transition: transform 0.2s linear
  }

  &.previous {
    border-left-width: 0;
    border-right-color: $black;

    &:hover {
      border-right-color: $grey;
      transition: border-right-color 0.3s linear;
    }
  }

  &.next {
    border-right-width: 0;
    border-left-color: $black;

    &:hover {
      border-left-color: $grey;
      transition: border-left-color 0.3s linear;
    }
  }
}

.canvas.chartjs-render-monitor#myChart {
    width: 100vw;
    height: 100vh;
}

.open {
    position: absolute;
    top: -28px;
    right: 6px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.open,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 4px;

  &:hover {
    border-color: $black;
    color: $black;
    background-color: white;
    transition: border-color 0.2s linear, color 0.2s linear, background-color 0.2s linear;
  }

  &:active {
    background-color: $black;
    color: white;
    transition: color 0.1s linear, background-color 0.1s linear;
  }
}

@media(max-width: 700px) {
  .data.data__graph {
    min-height: 290px;
  }
}