@import '../common/colors.scss';

.map {
  display: flex;
  flex-flow: nowrap column;
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: $greyBg;
  border: 1px solid $grey;
}

#map { 
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  border: 1px dashed red;
  cursor: default;

  &:active {
    cursor: grabbing;
  }
}

.marker {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;

  &:hover {
    border-width: 2px;
    border-color: $reddark;
    transition: border-color 0.3s linear, border-width 0.3s linear;
    cursor: pointer;
  }
}
