@import '../common/colors.scss';


.tableTwo {
  width: 100%;
  height: auto;
  text-align: center;
}

.tableTwo img {
  width: 1.3rem;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

table tr td:first-child {
  text-align: left;
}

table td:nth-child(2) {
  color: $red;
  font-weight: bold;
  text-align: right;
}

.tableTwo td {
  text-align: center;

  &:first-child {
    cursor: pointer;
  }
}

.tableTwo th {
  cursor: pointer;
  background-color: #848482;
}

.tableTwo .sort-asc::after {
  content: "\25b4";
}

.tableTwo .sort-desc::after {
  content: "\25be";
}

.tableTwo .sort-asc::after,
.tableTwo .sort-desc::after {
  margin-left: 5px;
}

.tableTwo .sort-asc,
.tableTwo .sort-desc {
  background: rgba(47, 79, 79, 1);
}

/*styles for scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}


.country__item {
  padding: 0 5px;
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid $grey;
}

.country__item--count,
.country__item--value {
  display: flex;
  align-items: center;
  text-align: center;
}

.country__item--count {
  justify-content: flex-end;
  margin-right: 10px;
  width: 50%;
  font-weight: bold;
  font-size: 1.1rem;
  color: $red;
  text-align: center;
}

.country__item--value {
  width: auto;
}

.global__country tr {
  height: 20px;

  & td {
    line-height: 20px;
    height: 20px;
  }
}

@media(max-width: 1213px) {
  .tableTwo {
    font-size: 0.8rem;
  }
}

@media(max-width: 1213px) {
  .tableTwo {
    font-size: 0.8rem;

  }
}
