@import '../common/colors.scss';


.country__list {
  overflow-y: hidden;
}

.country__item {
  padding: 0 5px;
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid $grey;
}

.country__item--count,
.country__item--value {
  display: flex;
  align-items: center;
  text-align: center;
}

.country__item--count {
  justify-content: flex-end;
  margin-right: 10px;
  width: 50%;
  font-weight: bold;
  font-size: 1.1rem;
  color: $red;
  text-align: center;
}

.country__item--value {
  width: auto;
}